.list-banner {
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    align-items: center;
    box-shadow: 0px 8px 3px rgb(40 145 175 / 12%);
    background-image: url(../assets/img/lyon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.list-title {
    font-size: 4rem;
    font-weight: 595;
    margin-top: 2.8em;
    margin-bottom: 2.5em;
    text-shadow: 2px 2px rgb(121, 120, 120);
}

.list-title-span {
    color: #2891af;
    text-shadow: 2px 2px #2e6c7e;
}

.list-container {
    margin: 10px;
    width: 24em;
    height: 7.5em;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
    overflow: hidden;
}

.list-card-container {
    width: 100%;
    text-align: center;
    min-height: 3.2em;
    padding: 10px 15px; 
}

.popup-body {
    height: 70vh;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
}

.popup-list {
    font-family: 'Varela Round', sans-serif;
}